[submodule "vendor/jade-mode"]
	path = vendor/jade-mode
	url = https://github.com/brianc/jade-mode
[submodule "vendor/helm-swoop"]
	path = vendor/helm-swoop
	url = https://github.com/ShingoFukuyama/helm-swoop.git
[submodule "vendor/use-package"]
	path = vendor/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "vendor/Emacs-wgrep"]
	path = vendor/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "vendor/drag-stuff.el"]
	path = vendor/drag-stuff.el
	url = https://github.com/rejeep/drag-stuff.el.git
[submodule "vendor/emacs-helm-ag"]
	path = vendor/emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "vendor/graphviz-dot-mode"]
	path = vendor/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "vendor/stripe-buffer"]
	path = vendor/stripe-buffer
	url = https://github.com/sabof/stripe-buffer.git
[submodule "vendor/req-package"]
	path = vendor/req-package
	url = https://github.com/edvorg/req-package.git
